.Options{
  width: 350px;
  height: 85px;
  background-color: $c-lightblue;
  border-top: 1px solid #D0D9DF;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}