$c-lightblue: #E3F6FC;
$c-lightblue-1: rgb(227, 246, 252, 0.8);
$c-royalblue: #6588DE;
$c-royalblue-01: rgb(99, 134, 222, 0.1);
$c-input-gray: #96A9BA;
$c-text-gray: #52585D;
$c-status-gray: #96A9BA;

$c-border-gray: rgba(150, 169, 186, 0.7);
$c-generalbg: white;