/* cores */
$c-lightblue: #E3F6FC;

$c-royalblue: #6588DE;
$c-royalblue-01: rgb(99, 134, 222, 0.1);

$c-gray: #52585D;
$c-lightgray: #96A9BA;

$c-white: #FFFFFF;
$c-white-bg: #FDFDFD;

$c-red: #FD2828;
$c-green: #46D362;