.Options{
  width: 350px;
  height: 85px;
  background-color: $c-lightblue;
  border-top: 1px solid $c-lightgray;
  display: flex;
  column-gap: 16px;
  align-items: center;
  justify-items: center;
  padding: 16px;
}