.roomCard {
  width: 310px;
  height: 74px;
  background-color: $c-royalblue-01;
  border-radius: 14px;
  margin: 10px;
  display: grid;
  grid-template: auto / 73px 237px;
}
.roomPic {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin: 15px;
  overflow: hidden;
  object-fit: cover;
}
.cardInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .roomName {
    font-weight: 600;
    font-size: 12px;
  }

  .roomTime {
    margin-right: 15px;
    font-weight: 400;
    font-size: 10px;
  }
}