.roomCard {
  width: 310px;
  height: 74px;
  background-color: $c-royalblue-01;
  border-radius: 14px;
  margin: 10px;
  display: grid;
  grid-template: auto / 280px 30px;
  cursor: pointer;
  transition: all ease 0.3s;

  &.selected{
    background-color: $c-royalblue;
    color: white;
    filter: none !important;
  }

  &:hover{
    filter: brightness(0.92);
  }

/////////////////////////////////////////////////////
  .roomContainer{
    display: grid;
    grid-template: auto / 73px 217px;
    
    .roomPic {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      margin: 15px;
      overflow: hidden;
      object-fit: cover;
    }

    .cardInfo {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
      align-items: center;
    
      .roomName {
        font-weight: 600;
        font-size: 12px;
      }
    
      .roomTime {
        font-weight: 400;
        font-size: 10px;
      }
    }
  }
}






