.groupIcon{
  color: $c-lightgray;

  :hover{
    color: $c-royalblue;
    cursor: pointer;
  }
}

.NewRoom{
  display: flex;
  position: relative;
}

.CreateRoomModal{
  position: absolute;
  z-index: 20;
  top: calc(-100vh + 60px);
  background-color: $c-gray;
  height: 100vh;
  width: 100%;
}